/* Some custom CSS for order_setup page(s) */

/* add a little margin to prevent the breadcrumbs from sitting right at the top of the div */
.breadcrumbs {
  margin-top: 15px;
}

/* *************************************************************
              Fix issues with chosen selects: 
************************************************************* */
/* Change cursor to pointer rather than I-beam */
.chosen-container .chosen-single {
  cursor: pointer;
}

/* where dropdown arrow appears too high */
.chosen-container > a > div > b {
    margin-top: 4px;
}

div.row.time {
  margin-bottom: 6px;
}