/* Some custom CSS for order_setup page(s) */

/* add a little margin to prevent the breadcrumbs from sitting right at the top of the div */
.breadcrumbs {
  margin-top: 15px;
}

/* *************************************************************
              Fix issues with chosen selects: 
************************************************************* */
/* Change cursor to pointer rather than I-beam */
.chosen-container .chosen-single {
  cursor: pointer;
}

/* where dropdown arrow appears too high */
.chosen-container > a > div > b {
    margin-top: 4px;
}

/* Where input is not wide enough - TEMPORARY FIX */
/*#sel_store_attr_chosen li.search-field input {
  width: 95% !important;
}*/

/* *************************************************************
                  Other 
************************************************************* */
/* Split up the input fields when stacked */
div.row.stack {
  margin-bottom: 6px;
}

/***************** Breadcrumbs ****************/
span.bc, span.bc-req, span.bc-comp, span.bc-part {
  padding: 2px 3px 2px 6px;
  border-radius: 8%;
  border-style: solid;
  border-width: 1px;
}

span.bc {
  color: #bababa;
  border-color: #bababa;
}

span.bc-req {
  color: #d72D22;
  border-color: #d72D22;
}

span.bc-part {
  color: #fff;
  background-color: #bababa;
  border-color: #bababa;
}

span.bc-comp {
  color: #fff;
  background-color: #92D400;
  border-color: #92D400;
}

div.breadcrumbs i.gap {
  display: inline-block;
  width: 8px;
}

/* Hide the options in certain selects when class applied */
.hidden-option {
  display: none;
}